#main{
	background: #c7c1b1 url(../img/bg-start.jpg) no-repeat center bottom;
	background-size: cover;
}
#intro {
	height: 100%;
}
#rule{
	/**/
	color:#fff;
	background-color: rgba(0,0,0,0.8);
	text-shadow:none;
}

#ruleTip {
	z-index: 9999;
	-ms-writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-ms-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	text-decoration: none;
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	left: 0px;
	bottom: 40px;
	top:auto;
	padding: 10px 0px;
	color:#fff;
	width: 3em;
	line-height: 3em;
}

#ruleTip.open{
	-webkit-transform: translate3d(17em,0,0);
	-moz-transform: translate3d(17em,0,0);
	transform: translate3d(17em,0,0);
}

#intro .ui-content {
	padding-top:0px;
	padding-bottom:0px;
}
#intro .ui-content .ui-listview {
	margin-top: -2px;
}

#intro a {
	min-height: 100%;
	height: 100%;
	padding: 0px;
	/*background-image: url(../img/bg-keylist.jpg);
	background-repeat: no-repeat;*/
	cursor: default;
}
#intro a.unlocked {
	cursor: pointer;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#intro a.unlocked img:first-child {
	display: none;
}

#intro img {
	width: 100%;
	min-height: 100%;
	height: 100%;
	max-width: 100%;
	/*display: none;
	filter: saturate(100%);
	-webkit-filter: saturate(100%);
	-moz-filter: saturate(100%);
	-o-filter: saturate(100%);
	-ms-filter: saturate(100%);*/
}

div[id^='hotelInfo'] .ui-content {
	padding: 0px;
}

div[id^='dishInfo'] .ui-content{

	padding: 0px;

}

div[id^='hotelInfo'] img, div[id^='dishInfo'] img {
	width:100%;
}