/* gold = c3a656*/
/* gold = c3a656*/
div[data-role='page']{
	background:#c8c3b0;
}
::-webkit-input-placeholder {
   color: #333;
   font-weight:bold;
}

:-moz-placeholder { /* Firefox 18- */
   color: #333;  
  font-weight:bold;

}

::-moz-placeholder {  /* Firefox 19+ */
   color: #333; 
      font-weight:bold;
 
}

:-ms-input-placeholder {  
   color: #333;  
      font-weight:bold;

}


.logo{
	margin: 0px auto;
	width: 40%;
}
.lightBg {
    background:#c1a455 url(../img/bg-light.jpg) no-repeat scroll left top!important;
    background-size:cover!important;
}
.lightBg [data-role='header']{
	background:transparent;
	border:none;
	text-align: center;
}
#form .fieldset {
	padding: 1em ;
	width: 70%;
	margin:0px auto;
}
#form .fieldset input{

	text-align: center;
}
    #form .ui-select .ui-btn {
        background:#fff;
        border-color:#b9955b;
        padding: 0.7em 1em;
    }
#dataSubmit {
	float: right;
	margin-right: 0px;
    background-color:#b9955b;
    color:#fff;
    text-shadow: none;
    border:none;
    -webkit-box-shadow:none;
    -box-shadow:none;
}
.ui-input-text {

   border-color:#b9955b!important;
   -webkit-box-shadow:none;
    -box-shadow:none;
}
#selGender-button,#txtAge-button {
   -webkit-box-shadow:none;
    -box-shadow:none;
}
#selGender-button:after {
    display:none;
}
#txtAge-button:after {
    display:none;
}
#main{
	background: #c7c1b1 url(../img/bg-start.jpg) no-repeat center bottom;
	background-size: cover;
}
#intro {
	height: 100%;
}
#start{
	position: fixed;
	bottom: 20%;
	top:auto;
	left:50%;
}
#start img {
    width:120px;
}
#rule{
	/**/
	color:#fff;
	background-color: rgba(0,0,0,0.8);
	text-shadow:none;
}

#ruleTip {
	z-index: 9999;
	text-decoration: none;
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	left: 0px;
	bottom: auto;
	top: auto;
	bottom:10%;
	padding: 30px 10px 10px;
	color:#c1a455;
	line-height: 1.2em;
	width: 1em;
	text-shadow:none;
    background-image:url('../img/bullet.png');
    background-repeat:no-repeat;
    background-size:15px;
    background-position:center 8px ;
}

#ruleTip.open{
	-webkit-transform: translate3d(17em,0,0);
	-moz-transform: translate3d(17em,0,0);
	transform: translate3d(17em,0,0);
}
#intro .beginning {

	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 9999;
    width:200px;
	margin-left: -100px;
	margin-top: -100px;
	opacity: 0;

}

#intro .beginning.not-animated{


}

#intro .ui-content {
	padding-top:0px;
	padding-bottom:0px;
}
#intro .ui-content .ui-listview {
	margin-top: -2px;
}
#intro .ui-listview > li p {
    margin:0px;
    height:100%;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
#intro a,#intro a:focus{
	min-height: 100%;
	height: 100%;
	padding: 0px;
	/*background-image: url(../img/bg-keylist.jpg);
	background-repeat: no-repeat;*/
	cursor: default;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border-color: #000000;
}
#intro a.unlocked {
	cursor: pointer;
}
#intro a.unlocked img:first-child {
	display: none;
}
#intro .ui-btn-icon-right:after {
    width:50px;
    height:100px;
    margin-top: -50px;
    border-radius:0px;
    background-image:url(../img/unlock-hint.png);
    background-color:transparent;
    right:0px;
    display:none;
}
#intro .unlocked.ui-btn-icon-right:after{

    display:block;
}
#intro ul img {
	width: 100%;
	min-height: 100%;
	height: 100%;
	max-width: 100%;
	/*display: none;
	filter: saturate(100%);
	-webkit-filter: saturate(100%);
	-moz-filter: saturate(100%);
	-o-filter: saturate(100%);
	-ms-filter: saturate(100%);*/
}

#intro .key ,#intro .lock {
	position: absolute;
	left:50%;
	top:50%;
	width: auto;
	height: auto;
	margin-left: -100px;
	margin-top: -25px;
	max-width: 200px;
	min-height: 50px;
	opacity: 0;

}
#intro .lock {
	max-width: 35px;
	margin-left: -25px;
	opacity:1;
}
#intro .unlocked .lock{
	opacity: 0;
}


div[id^='hotelInfo'] .ui-content {
	padding: 0px;
}

div[id^='dishInfo'] .ui-content{

	padding: 0px;

}
div[id^='hotelInfo'] p, div[id^='dishInfo'] p {
margin:0px;
padding:0px;
color:#fff;
text-shadow:0 /*{a-page-shadow-x}*/ 1px /*{a-page-shadow-y}*/ 0 /*{a-page-shadow-radius}*/ #0F0F0F /*{a-page-shadow-color}*/;
}
div[id^='hotelInfo'] img.bg, div[id^='dishInfo'] img.bg {
	width:100%;
    height:100%;
    position:fixed;
}
div[id^='hotelInfo'] .intro, div[id^='dishInfo'] .intro {
    position:absolute;
    left:50%;
    top:50%;
    width:70%;
    margin-left:-35%;
    opacity:0;
    padding-bottom:20px;
    
}
div[id^='dishInfo'] .intro {
    text-align:center;
}
div[id^='hotelInfo'] .intro p,div[id^='dishInfo'] .intro p {
    text-align:left;
    padding-bottom:1em;

}
.gold {
   color:#b9955b!important;
}
div[id^='hotelInfo'] .intro p.gold,div[id^='dishInfo'] .intro p.gold {

    padding-bottom:0em;
    color:#b9955b;

}

.whiteBtn {
    background-color:rgba(255,255,255,0.8);
    border:2px solid #b9955b;
    display:inline-block;
    width:150px;
    text-align:center;
    margin-top:15px!important;
        text-align:center!important;

      line-height: 1.5em;
      text-shadow: 0 /*{a-page-shadow-x}*/ 1px /*{a-page-shadow-y}*/ 0 /*{a-page-shadow-radius}*/ #727272 /*{a-page-shadow-color}*/!important;
}
.dishName {
    width:200px!important;
    height:200px!important;
    background:transparent url(../img/dishNameBg.png) no-repeat scroll center center!important;
    line-height:200px!important;
    padding:0px!important;
    margin:0px!important;
    text-align:center!important;
    color:#fff!important;
    font-size:30px!important;
    border-radius:100px!important;
    margin:0px auto 50px!important;
    display:inline-block!important;
    background-size:200px!important;
    text-shadow:0 /*{a-page-shadow-x}*/ 1px /*{a-page-shadow-y}*/ 0 /*{a-page-shadow-radius}*/ #C3A554 /*{a-page-shadow-color}*/!important;

}
#keyPage.lightBg {
    background-image:url(../img/bg-door.jpg)!important;
}
#keyPage .result {
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;

}
.ribbon {
    -webkit-animation: ribbonWave 5s 20 ease;
}

@-webkit-keyframes ribbonWave {
  0% {
    -webkit-transform: rotate(0deg) translate(-2px,-3px);
  }
  50% {
    -webkit-transform: rotate(-5deg) translate(-2px,-2px);
  }
  100% {
   -webkit-transform: rotate(0deg) translate(-2px,-3px);
  }
}