/*------------------------------------*\
    Mango-E studio 
\*------------------------------------*/ 
 
/**    
 * TABLE OF CONTENTS  
 * 
 * 01. Project variables..Imported variables
 * 02. Tags...............Like <body>, <h1> etc.
 * 03. Helpers............The general styles like .push-down-15 etc.
 * 04. Components.........Imported files, like partials, Compass etc.
 * 05. Accessibility overrides, usually with help of JS.
 */
/*------------------------------------*\
    Project variables 
\*------------------------------------*/
@font-face {
    font-family: 'aaux_next_regularregular';
    src: url('../bower_components/sass-bootstrap/fonts/AauxNext-Regular.eot');
    src: url('../bower_components/sass-bootstrap/fonts/AauxNext-Regular.eot?#iefix') format('embedded-opentype'),
         url('../bower_components/sass-bootstrap/fonts/AauxNext-Regular.woff') format('woff'),
         url('../bower_components/sass-bootstrap/fonts/AauxNext-Regular.ttf') format('truetype'),
         url('../bower_components/sass-bootstrap/fonts/AauxNext-Regular.svg#aaux_next_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aaux_nextbold';
    src: url('../bower_components/sass-bootstrap/fonts/AauxNext-Bold-webfont.eot');
    src: url('../bower_components/sass-bootstrap/fonts/AauxNext-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../bower_components/sass-bootstrap/fonts/AauxNext-Bold-webfont.woff') format('woff'),
         url('../bower_components/sass-bootstrap/fonts/AauxNext-Bold-webfont.ttf') format('truetype'),
         url('../bower_components/sass-bootstrap/fonts/AauxNext-Bold-webfont.svg#aaux_nextbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'STEP';
  src:url('../bower_components/sass-bootstrap/fonts/STEP.eot?dk5r62');
  src:url('../bower_components/sass-bootstrap/fonts/STEP.eot?#iefixdk5r62') format('embedded-opentype'),
    url('../bower_components/sass-bootstrap/fonts/STEP.woff?dk5r62') format('woff'),
    url('../bower_components/sass-bootstrap/fonts/STEP.ttf?dk5r62') format('truetype'),
    url('../bower_components/sass-bootstrap/fonts/STEP.svg?dk5r62#STEP') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'STEP';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-step1 .path1:before {
  content: "\e600";
  color: rgb(13, 102, 157);
}
.icon-step1 .path2:before {
  content: "\e601";
  margin-left: -0.8876953125em;
  color: rgb(115, 169, 200);
}
.icon-step1 .path3:before {
  content: "\e602";
  margin-left: -0.8876953125em;
  color: rgb(115, 169, 200);
}
.icon-step1 .path4:before {
  content: "\e603";
  margin-left: -0.8876953125em;
  color: rgb(115, 169, 200);
}
.icon-step1 .path5:before {
  content: "\e604";
  margin-left: -0.8876953125em;
  color: rgb(115, 169, 200);
}
.icon-step1 .path6:before {
  content: "\e605";
  margin-left: -0.8876953125em;
  color: rgb(243, 246, 249);
}

.icon-step2 .path1:before {
  content: "\e606";
  color: rgb(20, 104, 157);
}
.icon-step2 .path2:before {
  content: "\e607";
  margin-left: -0.8876953125em;
  color: rgb(20, 104, 157);
}
.icon-step2 .path3:before {
  content: "\e608";
  margin-left: -0.8876953125em;
  color: rgb(248, 250, 252);
}
.icon-step2 .path4:before {
  content: "\e609";
  margin-left: -0.8876953125em;
  color: rgb(248, 250, 252);
}
.icon-step2 .path5:before {
  content: "\e60a";
  margin-left: -0.8876953125em;
  color: rgb(248, 250, 252);
}
.icon-step2 .path6:before {
  content: "\e60b";
  margin-left: -0.8876953125em;
  color: rgb(248, 250, 252);
}
.icon-step2 .path7:before {
  content: "\e60c";
  margin-left: -0.8876953125em;
  color: rgb(20, 104, 157);
}

.icon-step3 .path1:before {
  content: "\e60d";
  color: rgb(13, 102, 157);
}
.icon-step3 .path2:before {
  content: "\e60e";
  margin-left: -0.8876953125em;
  color: rgb(13, 102, 157);
}
.icon-step3 .path3:before {
  content: "\e60f";
  margin-left: -0.8876953125em;
  color: rgb(32, 110, 162);
}
.icon-step3 .path4:before {
  content: "\e610";
  margin-left: -0.8876953125em;
  color: rgb(32, 110, 162);
}
.icon-step3 .path5:before {
  content: "\e611";
  margin-left: -0.8876953125em;
  color: rgb(32, 110, 162);
}
.icon-step3 .path6:before {
  content: "\e612";
  margin-left: -0.8876953125em;
  color: rgb(32, 110, 162);
}
.icon-step3 .path7:before {
  content: "\e613";
  margin-left: -0.8876953125em;
  color: rgb(240, 245, 248);
}
.icon-step3 .path8:before {
  content: "\e614";
  margin-left: -0.8876953125em;
  color: rgb(240, 245, 248);
}

.icon-step4 .path1:before {
  content: "\e615";
  color:#01649b;
}
.icon-step4 .path2:before {
  content: "\e616";
  margin-left: -0.8876953125em;
  color:#01649b;
}
.icon-step4 .path3:before {
  content: "\e617";
  margin-left: -0.8876953125em;
  color: transparent;
}
.icon-step4 .path4:before {
  content: "\e618";
  margin-left: -0.8876953125em;
  color: transparent;
}
.icon-step4 .path5:before {
  content: "\e619";
  margin-left: -0.8876953125em;
  color:#01649b;
}

.icon-step5:before {
  content: "\e61a";
}

.icon-step6:before {
  content: "\e61b";
}

.icon-step7:before {
  content: "\e61c";
}

.icon-step8:before {
  content: "\e61d";
}

@font-face {
  font-family: 'benefit';
  src:url('../bower_components/sass-bootstrap/fonts/benefit.eot?7ae16g');
  src:url('../bower_components/sass-bootstrap/fonts/benefit.eot?#iefix7ae16g') format('embedded-opentype'),
    url('../bower_components/sass-bootstrap/fonts/benefit.woff?7ae16g') format('woff'),
    url('../bower_components/sass-bootstrap/fonts/benefit.ttf?7ae16g') format('truetype'),
    url('../bower_components/sass-bootstrap/fonts/benefit.svg?7ae16g#benefit') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="benefit-"], [class*=" benefit-"] {
  font-family: 'benefit';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.benefit-a:before {
  content: "\e61e";
}

.benefit-b:before {
  content: "\e61f";
}

.benefit-c:before {
  content: "\e620";
}

.benefit-d:before {
  content: "\e621";
}

.benefit-e:before {
  content: "\e622";
}

.benefit-f:before {
  content: "\e623";
}

@font-face {
  font-family: 'iconPatch1';
  src:url('../bower_components/sass-bootstrap/fonts/iconPatch1.eot?2p3fsu');
  src:url('../bower_components/sass-bootstrap/fonts/iconPatch1.eot?#iefix2p3fsu') format('embedded-opentype'),
    url('../bower_components/sass-bootstrap/fonts/iconPatch1.woff?2p3fsu') format('woff'),
    url('../bower_components/sass-bootstrap/fonts/iconPatch1.ttf?2p3fsu') format('truetype'),
    url('../bower_components/sass-bootstrap/fonts/iconPatch1.svg?2p3fsu#iconPatch1') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconPatch-"], [class*=" iconPatch-"] {
  font-family: 'iconPatch1';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.iconPatch-k:before {
  content: "\e601";
}

.iconPatch-j:before {
  content: "\e600";
}

.iconPatch-i:before {
  content: "\e61d";
}


 
 

@import "vars";
@import "sass-bootstrap/lib/variables";


/*------------------------------------*\
    Tags
\*------------------------------------*/

body {
  position: relative;
}

a {
  &:active {
    color: darken($tertiary-color,10%);
  }

  &:hover {
    text-decoration: none;
  }
}

%heading-margin-top {
  margin-top: 36px;
}

h1 {
  @extend %heading-margin-top;
  margin-bottom: 30px;
}

h2 {
  @extend %heading-margin-top;
  margin-bottom: 24px;
}

h3 {
  @extend %heading-margin-top;
  margin-bottom: 22px;
}

h4 {
  @extend %heading-margin-top;
  margin-bottom: 18px;
}

h5 {
  @extend %heading-margin-top;
  margin-bottom: 15px;
}

h6 {
  @extend %heading-margin-top;
  margin-bottom: 12px;
  font-family: $secondary-font;
  font-weight: 700;
  text-transform: uppercase;
  font-weight: bold;
}

pre {
  border: 1px solid $light-color;
  color: $text-color;
}

/*------------------------------------*\
    Helpers
\*------------------------------------*/

// generates styles: .push-down-5 {margin-bottom: 5px;}, .push-down-10 {margin-bottom: 10px;} etc. to 60px
@for $i from 0 through 12 {
  $i5 : $i*5;
  .push-down-#{$i5} {
    margin-bottom: 5px * $i;
  }
}

// make bold text light, mostly used for headings
.light {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.line-through {
  text-decoration: line-through;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.secondary-link {
  @extend %color-tertiary-color;

  &:hover {
    color:darken($tertiary-color,15%);
  }
}

.text {
  text-align: left;
  line-height: 23px;
  font-weight: normal;
  margin-bottom: 20px;
}

.text-highlight  {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: $text-color;
  font-weight: 600;
  margin: 20px 0;
}

.text-dark {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
}

.primary-color {
  @extend %color-primary-color;
}

.secondary-color {
  @extend %color-secondary-color;
}

.tertiary-color,
.warning {
  @extend %color-tertiary-color;
}

.glyphicon.glyphicon-circle {
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 28px;
  border: 2px solid $default-color;
  border-radius: 50%;
  font-size: 12px;
}

.form-control {
  //border: none;
  //box-shadow: none !important;
  background: $default-color;

  &:focus {
    background:darken($default-color,5%);
  }
}

@media (min-width: $screen-sm-min) {
  .text-shrink {
    width: 60%;
    margin: 0 auto;
  }
}

.wp-post-image {
  width: 100%;
  height: auto;
  transition: transform .1s linear; 
}

.cloud-bg {
    background: image-url("cloud.jpg"),transparent;
}

/*------------------------------------*\
    Components   
\*------------------------------------*/

// General parts
@import "components/top";
@import "components/header";
@import "components/navigation";
@import "components/search";
@import "components/cart";
@import "components/jumbotron";
@import "components/breadcrumbs";
@import "components/footer";

// Elements
@import "components/banners";
@import "components/alerts";
@import "components/tabs";
@import "components/buttons";
@import "components/tables";
@import "components/maps";
@import "components/bars";
@import "components/gallerys";
@import "components/toggles";
@import "components/divider";
@import "components/pagination";
@import "components/social-icons";

// Advanced elements 
@import "components/opening-time";
@import "components/sidebar-menu-affix";
@import "components/products";
@import "components/testimonials";
@import "components/forms";
@import "components/savingForms";
@import "components/contact-forms"; 
@import "components/team";
@import "components/motivational-stories";
@import "components/widgets";
@import "components/comments";
@import "components/modals";

// Pages
@import "components/shop";
@import "components/404";
@import "components/single-product";
@import "components/blog";
@import "components/features";
@import "components/checkout";

// Icons
@import "components/zocial-icons";

// Plugins, like Isotope, jQuery UI ...
@import "components/plugins";

//
@import "components/calculator";
@import "components/stepsIntro";
@import "components/joinClub";
@import "components/howItWorks"; 
@import "components/digitalCounter"; 

/*------------------------------------*\
    Accessibility overrides, usually with
    help of JS
\*------------------------------------*/


/*------------------------------------*\
    The end :)
\*------------------------------------*/