// Breadcrumbs
.breadcrumbs {
 // @extend %background-secondary-color;
 // background-image: image-url("pattern_dark.png");
  width: 100%;
  //margin-bottom: 30px;
  margin-top:45px;
}

.no-margin {
  margin-bottom: 0;
}

.breadcrumb {
  padding: 11px 0 10px 0;
  color: $secondary-color;

  margin: 0;
  background: none;
  border-radius: 0;

  li {
        font-size: 20px;
  }
  > li + li:before {
    content: ">";
    color: $secondary-color;
    font-weight:normal;
    //font-family: "Glyphicons Halflings";
  }

  a {
    color: $secondary-color;
    font-size:20px;
    &:hover {
      color:$secondary-color;
      text-decoration: none;
    }
  }

  .active {
    color: $secondary-color;
  }
}
