//amend of bootstrap default form layout 

#savingForm,#savingForm2 {

	@media (min-width: $screen-md-min) {
		position:relative;
		padding-top: 35px;

		&:after{
			content:url(../images/calculator.png);
			width:146px;
			height:146px;
			position:absolute;
			left: -22px;
  			top: -116px;
			z-index:9;
			display:none;

		}
	}

	.dropdown-menu {
		li{
			a {
				color:darken($tertiary-color,15%);
				img {
					padding-right:5px;
					margin-right:5px;
					border-right:1px solid $tertiary-color;
				}
			}
		}
		
	}

	.promoText {

		.long-box{
			width:78%;
			padding:0px 10px;
			text-align:center;

			h1{
				color:$secondary-color;
					margin: 10px 0px
			}

		}

		.short-box {
			width: 22%;
			padding:0px;

			p {
				display:none;
				background:#CD2626;
				margin-bottom:0px;
				padding:10px 0px;
			}
			.btn{
				width:100%;
			}
		}


	}

 }
.promoText-home {

	.long-box{
		width: 100%;
		padding:0px 10px;
		text-align:center;

		h1{
			color:$secondary-color;
				margin: 10px 0px
		}

	}

	.short-box {
		width: 22%;
		padding:0px;
		margin:0px auto;

		p {
			display:none;
			background:#CD2626;
			margin-bottom:0px;
			padding:10px 0px;
		}

	}

	.btn{
		width:100%;
	}
}
