//amend of bootstrap default form layout 

#savingForm {

	@media (min-width: $screen-md-min) {
		position:relative;
		padding-top: 35px;

		&:after{
			content:url(../images/calculator.png);
			width:146px;
			height:146px;
			position:absolute;
			left: -22px;
  			top: -116px;
			z-index:9;
			display:none;

		}
	}

	.dropdown-menu {
		li{
			a {
				color:darken($tertiary-color,15%);
				img {
					padding-right:5px;
					margin-right:5px;
					border-right:1px solid $tertiary-color;
				}
			}
		}
		
	}	
 }
