// Testimonials
.light-paper-pattern {
  background-image: image-url("light_paper_pattern.jpg");
}
.white-wave {
  background-image: image-url("white-wave.png");
  /*background-size:contain;*/
}
.mum-baby {
  position:relative;
  text-align:center;
  /*
  background-image: image-url("mum-baby.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position:center;
  width:854px;
 */
    @media (min-width: $screen-md-min) {
        height:605px;

      } 

  height:315px;
  .carousel  {
    @media (min-width: $screen-md-min) {
         width:854px;

      } 
    margin:315px auto 0px;

    .carousel-inner {

    }
  }

  &:before{
    content:" ";
    background-image: image-url("mum-baby.png");
     position:absolute;
    left:50%;
    margin-left:-427px;

    top:-402px;
    @media (min-width: $screen-md-min) {
          top:-114px;


      } 

    width:854px;
    height:720px;
  }
}
.testimonials {
  padding: 0px 0;
  text-align: center;

  a:active {
    background: none;
  }

  .testimonials__title {
    display: inline;
  }


  .testimonials__quotes,.testimonials__quotes--rotate {
    margin-top: 298px;
  }
  .testimonials__quotes--img {
    max-width: 100%;
    height: auto;

  }

  .testimonials__quotes--rotate {
    transform: rotate(180deg);
  }

  .glyphicon-circle {
    border-color: $dark-color;
    color: $dark-color;
    margin: 0 10px;
    transition: all 0.1s linear;

    &:hover {
      @extend %color-tertiary-color;
      border-color: $tertiary-color;
    }
  }
}
