/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em!important;
    line-height: 1.4!important;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/*
  brand color
*/
.brandRed {
  color: #9D1E2F;
}
.brandGold{
  color: #B89758;
}
.brandBgRed{
  background: #9D1E2F;
}
.brandBgGold{
  background: #B89758;
}
/*
 * special ../fonts.
 */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?rb5mim');
  src:url('../fonts/icomoon.eot?#iefixrb5mim') format('embedded-opentype'),
    url('../fonts/icomoon.woff?rb5mim') format('woff'),
    url('../fonts/icomoon.ttf?rb5mim') format('truetype'),
    url('../fonts/icomoon.svg?rb5mim#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* ball*/
.icon-logo-part-a:before {
  content: "\e600";
}
/* chinese */
.icon-logo-part-b:before {
  content: "\e601";
}
/* english */
.icon-logo-part-c:before {
  content: "\e602";
}
/* full logo*/
.icon-logo-part-d:before {
  content: "\e603";
}
/* text */
.icon-logo-part-e:before {
  content: "\e604";
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body {
  margin: 0;

}
body.landscape{
    background:url(../img/tip.jpg) 0px 0px no-repeat;
    background-size: cover;
    background-color: #ffffff;
}
.page {
  text-align: center;
  top: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.page--light {
  background: -moz-radial-gradient(center, ellipse cover, #fff 0%, #7db9e8 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fff), color-stop(100%, #7db9e8));
  background: -webkit-radial-gradient(center, ellipse cover, #fff 0%, #7db9e8 100%);
  background: -o-radial-gradient(center, ellipse cover, #fff 0%, #7db9e8 100%);
  background: -ms-radial-gradient(center, ellipse cover, #fff 0%, #7db9e8 100%);
  background: radial-gradient(ellipse at center, #fff 0%, #7db9e8 100%);
  color: #000;
}

.page--dark {
  background: -moz-radial-gradient(center, ellipse cover, #444 0%, #111 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #444), color-stop(100%, #111));
  background: -webkit-radial-gradient(center, ellipse cover, #444 0%, #111 100%);
  background: -o-radial-gradient(center, ellipse cover, #444 0%, #111 100%);
  background: -ms-radial-gradient(center, ellipse cover, #444 0%, #111 100%);
  background: radial-gradient(ellipse at center, #444 0%, #111 100%);
  color: #fff;
}
.page--gold {
  background: -moz-radial-gradient(center, ellipse cover, #B89758 0%, #111 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #B89758), color-stop(100%, #111));
  background: -webkit-radial-gradient(center, ellipse cover, #B89758 0%, #111 100%);
  background: -o-radial-gradient(center, ellipse cover, #B89758 0%, #111 100%);
  background: -ms-radial-gradient(center, ellipse cover, #B89758 0%, #111 100%);
  background: radial-gradient(ellipse at center, #B89758 0%, #111 100%);
  color: #fff;
}
.page--white {
background: -moz-linear-gradient(top,  rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.9) 35%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.14) 77%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(35%,rgba(255,255,255,0.9)), color-stop(50%,rgba(255,255,255,0.9)), color-stop(77%,rgba(255,255,255,0.14)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.9) 35%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.14) 77%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.9) 35%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.14) 77%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.9) 35%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.14) 77%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.9) 35%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.14) 77%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
.fullpage {
  width: 100%;
  height: 100%;
}
.brand {
  font-size: 6em;
  position: absolute;
  left: 50%;
  top: 60%;
  margin-left: -1.2em;
  margin-top: -0.5em;
}
.abtext{
  position: absolute;  
}
.brand .tshadow-glow:before{
  text-shadow: 0 0 14px rgba(255,255,255,1);
}
.brandCover {
  position: absolute;
}
/* opening */
.iconRow{
  width: 100%;
  height: 48px;
  background: transparent repeat left top;
  background-size: cover;
}

.set1{
  background-image: url(../img/brandRow1.jpg);
}
.set2{
  background-image: url(../img/brandRow2.jpg);
}
.set3{
  background-image: url(../img/brandRow3.jpg);
}
.set4{
  background-image: url(../img/brandRow4.jpg);
}
.set5{
  background-image: url(../img/brandRow5.jpg);
}
.set6{
  background-image: url(../img/brandRow6.jpg);
}
.left-ToRight {
   -webkit-animation-name: MOVE-BG-LEFT-TO-RIGHT;
  -webkit-animation-duration: 100s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

}
.right-ToLeft {
   -webkit-animation-name: MOVE-BG-RIGHT-TO-LEFT;
  -webkit-animation-duration: 100s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes MOVE-BG-LEFT-TO-RIGHT {
   from {
     background-position: 652px top;
   }
   to { 
     background-position: 1956px top;
   }
}
@-webkit-keyframes MOVE-BG-RIGHT-TO-LEFT {
   from {
     background-position: 1956px top;
   }
   to { 
     background-position: 652px top;
   }
}

#ceo{
  float: left;
  margin: 1em;
  margin-left: 0em;

}
#story2 .abtext {
  text-align: left;
  font-size: 0.7em;
  padding: 1em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: http://nicolasgallagher.com/micro-clearfix-hack/
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
