/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em!important;
    line-height: 1.4!important;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.img-circle {
  border-radius: 50%;
}

.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-justify {
  text-align: justify !important;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777;
}
figure {
  margin: 0px;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}



.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.affix {
  position: fixed;
}


/*
 * Remove the gap between images and the bottom of their containers
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/*
  brand color
*/
.brandRed {
  color: #9D1E2F;
}
.brandGold{
  color: #B89758;
}
.brandGrey{
  color: #9E9E9E;

}
.brandBgRed{
  color:#fff;
  background: #9D1E2F;
}
.brandBgGold{
  color:#fff;
  background: #B89758;
}
.brandBgGrey{
  color:#fff;
  background: #9E9E9E;
}

/*
 * special ../fonts.
 */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-t4uqrk');
  src:url('../fonts/icomoon.eot?#iefix-t4uqrk') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-t4uqrk') format('woff'),
    url('../fonts/icomoon.ttf?-t4uqrk') format('truetype'),
    url('../fonts/icomoon.svg?-t4uqrk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\e608";
  -webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-o-transform: rotate(180deg);
writing-mode: bt-rl;
}
.icon-logo-part-ball:before {
  content: "\e600";
}
.icon-logo-part-chinese:before {
  content: "\e601";
}
.icon-logo-part-english:before {
  content: "\e602";
}
.icon-logo-part-full:before {
  content: "\e603";
}
.icon-logo-part-text:before {
  content: "\e604";
}
.icon-slogan-journey:before {
  content: "\e605";
}
.icon-slogan-Time:before {
  content: "\e606";
}
.icon-brand:before {
  content: "\e607";
}

.brandBgRed .icon-slogan-journey,.brandBgRed .icon-slogan-Time{
  opacity: 0.5;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body {
  margin: 0;
}
/**/
.loading{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 9999;
  background-color: #fff;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
}
.loading progress,.loading .brand  {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  margin-left: -25%;
}
.loading .brand {
  margin-top: -20%;
  margin-left: -20%;
  font-size: 300%;
}
body.landscape{
    background:url(../img/tip.jpg) 0px 0px no-repeat;
    background-size: cover;
    background-color: #ffffff;
}
body.landscape .pages{
  display: none;
}
.pages.hide {
  visibility: hidden;
}
.page {
  top: 0;
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: table;
}
.content{
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
}
.article{
  font-size: 80%;
  padding:0em 1em;
  text-align: center;

}


/* scroll hint */
.page .icon-chevron-down {
  position: absolute;
  z-index: 99;
  left: 50%;
  margin-left: -0.5em;
  opacity: 0.5;
  -webkit-animation: scrollHint 1s infinite  normal ease-out;
  animation: scrollHint 1s infinite  normal ease-out;
}

.page--light {
  background: -moz-radial-gradient(center, ellipse cover, #fff 0%, #7db9e8 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fff), color-stop(100%, #7db9e8));
  background: -webkit-radial-gradient(center, ellipse cover, #fff 0%, #7db9e8 100%);
  background: -o-radial-gradient(center, ellipse cover, #fff 0%, #7db9e8 100%);
  background: -ms-radial-gradient(center, ellipse cover, #fff 0%, #7db9e8 100%);
  background: radial-gradient(ellipse at center, #fff 0%, #7db9e8 100%);
  color: #000;
}

.page--dark {
  background: -moz-radial-gradient(center, ellipse cover, #444 0%, #111 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #444), color-stop(100%, #111));
  background: -webkit-radial-gradient(center, ellipse cover, #444 0%, #111 100%);
  background: -o-radial-gradient(center, ellipse cover, #444 0%, #111 100%);
  background: -ms-radial-gradient(center, ellipse cover, #444 0%, #111 100%);
  background: radial-gradient(ellipse at center, #444 0%, #111 100%);
  color: #fff;
}
.page--gold {
  background: -moz-radial-gradient(center, ellipse cover, #B89758 0%, #111 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #B89758), color-stop(100%, #111));
  background: -webkit-radial-gradient(center, ellipse cover, #B89758 0%, #111 100%);
  background: -o-radial-gradient(center, ellipse cover, #B89758 0%, #111 100%);
  background: -ms-radial-gradient(center, ellipse cover, #B89758 0%, #111 100%);
  background: radial-gradient(ellipse at center, #B89758 0%, #111 100%);
  color: #fff;
}
.page--white {
background: rgba(226,226,226,0);
background: -moz-linear-gradient(left, rgba(226,226,226,0) 0%, rgba(255,255,255,0.8) 50%, rgba(254,254,254,0) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,0)), color-stop(50%, rgba(255,255,255,0.8)), color-stop(100%, rgba(254,254,254,0)));
background: -webkit-linear-gradient(left, rgba(226,226,226,0) 0%, rgba(255,255,255,0.8) 50%, rgba(254,254,254,0) 100%);
background: -o-linear-gradient(left, rgba(226,226,226,0) 0%, rgba(255,255,255,0.8) 50%, rgba(254,254,254,0) 100%);
background: -ms-linear-gradient(left, rgba(226,226,226,0) 0%, rgba(255,255,255,0.8) 50%, rgba(254,254,254,0) 100%);
background: linear-gradient(to right, rgba(226,226,226,0) 0%, rgba(255,255,255,0.8) 50%, rgba(254,254,254,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}



/* opening */

.iconRow{
  width: 100%;
  height: 60px;
  background: transparent repeat left top;
  background-size: cover;
}

.set1{
  background-image: url(../img/brandRow1.jpg);
}
.set2{
  background-image: url(../img/brandRow2.jpg);
}
.set3{
  background-image: url(../img/brandRow3.jpg);
}
.set4{
  background-image: url(../img/brandRow4.jpg);
}
.set5{
  background-image: url(../img/brandRow5.jpg);
}
.set6{
  background-image: url(../img/brandRow6.jpg);
}

.left-ToRight {
   -webkit-animation-name: MOVE-BG-LEFT-TO-RIGHT;
  -webkit-animation-duration: 100s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

}
.right-ToLeft {
   -webkit-animation-name: MOVE-BG-RIGHT-TO-LEFT;
  -webkit-animation-duration: 100s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
#brand {
  position: absolute;
  left: 50%;
  top: 50%;

  margin-left: -35%;
  margin-top: -30%;
  z-index: 2;

}
#brand i{
  font-size: 600%;
}


/* START opening animate elements */
#brandcover {
  padding: 0em;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  animation-duration: 4s;
}
#brandcover .cover{
  content:" ";
  position: absolute;
  left:0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(239,239,239,1);
  background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(252,252,252,0.8) 40%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.8) 60%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239,239,239,1)), color-stop(40%, rgba(252,252,252,0.8)), color-stop(50%, rgba(255,255,255,0.8)), color-stop(60%, rgba(255,255,255,0.8)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(252,252,252,0.8) 40%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.8) 60%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(252,252,252,0.8) 40%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.8) 60%, rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(252,252,252,0.8) 40%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.8) 60%, rgba(254,254,254,1) 100%);
  background: linear-gradient(to bottom, rgba(239,239,239,1) 0%, rgba(252,252,252,0.8) 40%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.8) 60%, rgba(254,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#fefefe', GradientType=0 );
}
#logo{
  position: relative;
  z-index: 2;
  -webkit-animation-duration: 3s;
}
#opening p {
  -webkit-animation-duration: 3s;
}
#opening .icon-chevron-down {
  top: 70%
}
/* END opening animate elements */




.gradientCaptionCenter{
  text-align: center;
  background: rgba(254,254,254,0);
background: -moz-linear-gradient(left, rgba(254,254,254,0) 0%, rgba(254,254,254,0.8) 15%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.8) 85%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,254,254,0)), color-stop(15%, rgba(254,254,254,0.8)), color-stop(50%, rgba(255,255,255,1)), color-stop(85%, rgba(255,255,255,0.8)), color-stop(100%, rgba(255,255,255,0)));
background: -webkit-linear-gradient(left, rgba(254,254,254,0) 0%, rgba(254,254,254,0.8) 15%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.8) 85%, rgba(255,255,255,0) 100%);
background: -o-linear-gradient(left, rgba(254,254,254,0) 0%, rgba(254,254,254,0.8) 15%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.8) 85%, rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(left, rgba(254,254,254,0) 0%, rgba(254,254,254,0.8) 15%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.8) 85%, rgba(255,255,255,0) 100%);
background: linear-gradient(to right, rgba(254,254,254,0) 0%, rgba(254,254,254,0.8) 15%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.8) 85%, rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ffffff', GradientType=1 );
}
.gradientCaptionLeft {
text-align: left;
padding-left: 1em;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(254,254,254,0.7) 79%, rgba(254,254,254,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(79%, rgba(254,254,254,0.7)), color-stop(100%, rgba(254,254,254,0)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(254,254,254,0.7) 79%, rgba(254,254,254,0) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(254,254,254,0.7) 79%, rgba(254,254,254,0) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(254,254,254,0.7) 79%, rgba(254,254,254,0) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(254,254,254,0.7) 79%, rgba(254,254,254,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fefefe', GradientType=1 );
}
.gradientCaptionRight {
text-align: right;
padding-right: 1em;
background: rgba(254,254,254,0);
background: -moz-linear-gradient(left, rgba(254,254,254,0) 0%, rgba(254,254,254,0.7) 21%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,254,254,0)), color-stop(21%, rgba(254,254,254,0.7)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(left, rgba(254,254,254,0) 0%, rgba(254,254,254,0.7) 21%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(left, rgba(254,254,254,0) 0%, rgba(254,254,254,0.7) 21%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(left, rgba(254,254,254,0) 0%, rgba(254,254,254,0.7) 21%, rgba(255,255,255,1) 100%);
background: linear-gradient(to right, rgba(254,254,254,0) 0%, rgba(254,254,254,0.7) 21%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ffffff', GradientType=1 );
}
#ceo{
  float: left;
  margin: 1em;
  margin-left: 0em;

}
#famous {
  font-size: 1400%;
}

.staff hr{
  margin: 0px 0px 0px;
}
.photo{
  position: absolute;
  left: 0px;
  top: 2px;
  margin-bottom: -2px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.photo .img {
  width: 100%;
  height: 99%;
  background-size: cover;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.photo .caption {
  position: absolute;
  z-index: 2;
  font-size: 75%;
}
.photo .caption h3 {
  padding:0em 2em;
}

.slogan {
  font-size: 400%;
  text-align: center;
}
.page.brandBgRed h1 {
  text-align: center;
}
.skyBegin{
  background: #fff url(../img/bgSkyBegin.jpg) no-repeat scroll left bottom;
  background-size: contain;
}
.bgSky{
  background-color: #4c91d6;
}
.skyEnd{
  background: #4c91d6 url(../img/bgSkyEnd.jpg) no-repeat scroll left bottom;
  background-size: contain;
}

.skyBegin .icon-chevron-down,.bgSky .icon-chevron-down,.skyEnd .icon-chevron-down,.brandBgRed .icon-chevron-down{

  color: #fff;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: http://nicolasgallagher.com/micro-clearfix-hack/
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}

@-webkit-keyframes scrollHint {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}
@keyframes scrollHint {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}

@-webkit-keyframes MOVE-BG-LEFT-TO-RIGHT {
   from {
     background-position: 652px top;
   }
   to { 
     background-position: 1956px top;
   }
}
@-webkit-keyframes MOVE-BG-RIGHT-TO-LEFT {
   from {
     background-position: 1956px top;
   }
   to { 
     background-position: 652px top;
   }
}

