html,body{margin:0; padding:0; width:100%; height:100%;}
body{font:normal 14px/1.5 "Microsoft Yahei","Lucida Grande",Tahoma,Verdana,STXihei,hei; color:#000; background-color:#f2f2f2;}
ul,ol,li,em,p,span,h1,h2{margin:0; padding:0; font-weight:normal; list-style:none; font-style:normal}
.cf:before, .cf:after {display: table; content: " ";}
.cf:after {clear: both;}
a{text-decoration: none;}

/*loading page*/
.loadpage{position:fixed; width:100%; height:100%; left:0; top:0; background:#c61c2a url(logo-white.svg) no-repeat center 98%; z-index:100; color:#fff;}
.loadpage .tips{position:absolute; top:0; left:0; width:100%; height:100%; display: table; font-size:14px; line-height:1.6em; letter-spacing:2px; text-align: center;}
.tipbox {display: table-cell; vertical-align: middle;}
.tipbox p {padding: 0 15px;}
.loader {position:relative; margin-top:2em;}
.loader span {position:absolute; left:0; top:12px; width:100%; font-size:10px; letter-spacing:0;}
.loader img{animation:rolling 3s linear infinite; -webkit-animation:rolling 3s linear infinite;}

/* turn box*/
#turn-box {position:fixed; display:none; top:0px; left:0px; width:100%; height:100%; background-color:rgba(27,34,42,1); z-index:90; text-align:center;}
.tb-inner {position: absolute; width: 100%; height: 100%; display:table; text-align: center;}
.h2v {display: table-cell; vertical-align: middle;}
.h2v p{margin-top:10px; font-size:14px; color:#fff;}
.imgtip{
    display: inline-block;
    width: 110px;
    height: 110px;
    background: transparent url(h2v.svg) center center no-repeat;
    -webkit-transform-origin:50% 50%;
    transform-origin:50% 50%;
    -webkit-animation:turn 1.5s ease-in 1 forwards;
    animation:turn 1.5s ease-in 1 forwards;
}
/* active-info */
.active-info{position:absolute; right:15px; top:15px; z-index:60; width:30px; height: 60px; }
.bgaudio a {display: none; width:30px; height: 30px; overflow: hidden; background: transparent url(audio.png) 0 0 no-repeat; -webkit-background-size: 30px; background-size: 30px;}
.bgaudio .active {display: block;}
#play-btn {background-position: 0 -30px;}
.pager {display:none; color:rgba(255,255,255,0.7); font-size:10px; text-align: center;}

/* weixin share overlay*/
.overlay-wxshare {position:fixed; top:0; bottom:0; left:0; right:0; background:rgba(20,20,20,.95) url(logo-text.svg) no-repeat center 98%; z-index:150;}
.wxmenu-tips{position:absolute; right:2em; top:1em; width:50px; height:60px; background:url(wxmenu-tips.svg) no-repeat;}
.tips-text {margin-top:100px;}
.tips-text p {width:100%; text-align:center; color:#fff; font-size:1.4em; line-height:2em;}

/* swiper container*/
.container-wrap {
    width:100%;
    height:100%;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    background: transparent url(../img/bg.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.container {
    width:100%;
    height:100%;
    top:0;
    z-index:10;
    position:relative;
    -webkit-transition:all 1s;
    transition:all 1s;}
.container.show-share{top:-180px;}
.swiper-wrapper {
    position:relative;
    width:100%;
    -webkit-transition-property:-webkit-transform, left, top;
    -webkit-transition-duration:0s;
    -webkit-transform:translate3d(0px,0,0);
    -webkit-transition-timing-function:ease;

    transition-property:transform, left, top;
    transition-duration:0s;
    transform:translate3d(0px,0,0);
    transition-timing-function:ease;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.swiper-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.swiper-slide {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.swiper-slide-visible {z-index: 999;}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {-ms-touch-action:pan-y;}
.swiper-wp8-vertical {-ms-touch-action:pan-x;}

.cimg,.cimg2 {
    height: 100%;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.ctext {
    position:absolute;
    width:100%;
    left:0;
    bottom:15px;
    padding:0 6%;
    text-align: center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.ctext img {position: static; width: 100%;}

.cover .cimg {background-image:url(../img/cover-bg.jpg);}
.cover .cimg2 {background-image:url(../img/cover-bg2.jpg); display: none;}
.p1 .cimg {background-image:url(../img/p1.jpg);}
.p1 .ctext {top:10%;}
.p2 .cimg {background-image:url(../img/p2.jpg);}
.p2 .ctext {top:50%;}
.p3 .cimg {background-image:url(../img/p3.jpg);}
.p3 .ctext {top:50%;}
.p4 .cimg {background-image:url(../img/p4.jpg);}
.p4 .ctext {top:78%;}
.p5 .cimg {background-image:url(../img/p5.jpg);}
.p5 .ctext {top:10%;}
.p6 .cimg {background-image:url(../img/p6.jpg);}
.p6 .ctext {top:10%;}
.p7 .cimg {background-image:url(../img/p7.jpg);}
.p7 .ctext {top:75%;}
.p8 .cimg {background-image:url(../img/p8.jpg);}
.p8 .ctext {top:75%;}
.p9 .cimg {background-image:url(../img/p9.jpg);}
.p9 .ctext {top:10%;}
.p10 .cimg {background-image:url(../img/p10.jpg); -webkit-background-size: 100% auto;
background-size: 100% auto;}

.cover .ctext {padding:20px 0 10px; background-color: #fff; height: 40%;}
.cover .ctext img {position: absolute; left:0px;
    top: 10px;
    width: 100%;
    opacity: 0;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
}
.cover .ctext .delay1{-webkit-transition-delay:0s;
                        -moz-transition-delay:0s;
                        transition-delay:0s;}
.cover .ctext .delay2{-webkit-transition-delay:0.8s;
                        -moz-transition-delay:0.8s;
                        transition-delay:0.8s;}
.cover .ctext .delay3{-webkit-transition-delay:1.5s;
                        -moz-transition-delay:1.5s;
                        transition-delay:1.5s;}                        
.show-cover .ctext img{opacity: 1;}
.flyL{left:0; z-index:60;}
.flyR{right:0; z-index:60;}

.flyL, .flyR {
    -webkit-animation:1s linear 0.3s 1 normal both;
    animation:1s linear 0.3s 1 normal both;
}
.swiper-slide-active .flyL {-webkit-animation-name:flyL; animation-name:flyL;}
.swiper-slide-active .flyR {-webkit-animation-name:flyR; animation-name:flyR;}

.swiper-slide-active .flyL,
.swiper-slide-active .flyR{
    /*  使用3D变形来开启GPU加速 */
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);

    /*  动画有闪烁Hack：*/
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;

    -webkit-perspective:1000;
    perspective:1000;
}

.cover2 .ctext {text-align: center;}
.cover2 .ctext img{ position: static; width: 60%; margin: 0 auto;}
.fadeIn {display: none;}
.swiper-slide-active .fadeIn {
    display: block;
    -webkit-animation: fadeIn 1s linear 0.3s 1 normal both;
    animation: fadeIn 1s linear 0.3s 1 normal both;
}


.tonext {
    position: absolute;
    bottom: 15px;
    left:50%;
    margin-left: -20px;
    opacity:1;
    z-index: 60;
    width: 40px;
    height: 40px;
    background: transparent url(arrow.svg) 0 0 no-repeat;
    animation:arrow-h infinite 1s ease alternate;
    -webkit-animation:arrow-h infinite 1s ease alternate;
}
/*share box*/
.sharewrap {
    display: none;
    position: absolute;
    bottom: 0;
    padding: 5%;
    width:90%;
    color:#666;
    font-size:12px;
    background: transparent url(../img/bg.jpg) 0 bottom no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.show-share .sharewrap {display: block;}
.bgcimg img {width: 100%;}
.share-title{position:relative;display:inline-block; margin-bottom: 10px;}
.share-arrow{color:#7c272d; -webkit-transform:rotate(90deg);transform:rotate(90deg);}
.paper-share a {float:left; width:48%; height:36px; background-color: #fff; border-radius: 5px;}
.paper-share a:last-child {float:right;}
.share-span span {display:block; width:100%; height:100%; cursor:pointer;}
.jiathis_button_weixin span,.paper-weixin span{background:url(weixin.svg) no-repeat center center;}
.jiathis_button_tsina span{background:url(tsina.svg) center center no-repeat;}
.appdl {display: block; margin-top: 10px; background-color:#fff; border-radius: 5px; text-align: center;}
.appdl img {width: 70%; vertical-align: top; padding: 10px 0;}
.brand {display: block; margin-top: 10px; text-align: center;}

@media all and (min-width:720px){
    .container-wrap {width:600px;}
    .slide{margin:0 auto;}
}

@-webkit-keyframes rolling{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(-360deg);}
}
@keyframes rolling{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(-360deg);}
}

@-webkit-keyframes arrow-h{
    0% {opacity:0.6; -webkit-transform: translateY(0px);}
    100% {opacity:1; -webkit-transform: translateY(15px);}
}
@keyframes arrow-h{
    0% {opacity:0.6; transform: translateY(0px);}
    100% {opacity:1; transform: translateY(15px);}
}

/*  animation */
@keyframes turn{
    0%{transform:rotate(0deg);}
    50%{transform:rotate(-90deg);}
    100%{transform:rotate(-90deg);}
}
@-webkit-keyframes turn{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(-90deg);}
    100%{-webkit-transform:rotate(-90deg);}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes flyL {
    0% {opacity:0; left:-120px;}
    100% {opacity:1; left:0;}
}
@keyframes flyL {
    0% {opacity:0; left:-120px;}
    100% {opacity:1; left:0;}
}

@-webkit-keyframes flyR {
    0% {opacity:0; right:-120px;}
    100% {opacity:1; right:0;}
}
@keyframes flyR {
    0% {opacity:0; right:-120px;}
    100% {opacity:1; right:0;}
}