@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?rb5mim');
	src:url('fonts/icomoon.eot?#iefixrb5mim') format('embedded-opentype'),
		url('fonts/icomoon.woff?rb5mim') format('woff'),
		url('fonts/icomoon.ttf?rb5mim') format('truetype'),
		url('fonts/icomoon.svg?rb5mim#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-logo-part-a:before {
	content: "\e600";
}
.icon-logo-part-b:before {
	content: "\e601";
}
.icon-logo-part-c:before {
	content: "\e602";
}
.icon-logo-part-d:before {
	content: "\e603";
}
.icon-logo-part-e:before {
	content: "\e604";
}
