// Toggles
.panel-heading {

}

.panel-title {
  margin: 0;
  width: 100%;
  border-radius: 2px;
}

.panel-link {
  font-size: 13px;
  @extend %color-secondary-color;
  text-transform: uppercase;
  font-family: $secondary-font;
  font-weight: 700;

  &:hover {
    text-decoration: none;
  }
}

.panel-default > .panel-heading {
  background-color:transparent;
  border:none;
}

#accordion.panel-group {
  .panel  {
      box-shadow :none;

     border:none;
  }

}
