// Top
.top {
  
  background: linear-gradient(to bottom, #EAC276, darken($tertiary-color,10%) 100%);
  border-bottom:1px solid lighten($tertiary-color,20%);
  font-size: 14px;
  font-weight: 600;
  position: relative;
  z-index: 1002;
  text-shadow: -1px 0px 1px #9E721E;
  
  .glyphicon-heart {
    color:lighten($tertiary-color,25%);
  }
  .dropdown {
    &:hover {
      .dropdown-menu {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .dropdown-menu {
    min-width: 45px;

    &.show-menu {
      opacity: 1;
      visibility: visible;
    }

    > li{
      .last {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
      }

      > a {
        @extend %background-tertiary-color;
        text-align: left;
        font-size: 11px;
        padding: 6px 10px;
        color: $dark-color;
        font-weight: 400;
        border-bottom: 1px solid lighten($tertiary-color, 10%);

        &:hover {
          background-color: lighten($tertiary-color, 10%);
          color: $lighter-color;
        }
      }
    }
  }

  .nav {
    .caret {
      border-top-color: $lighter-color;
    }

    > li {
      display: inline-block;
      float: none;

      > a {
        color: $lighter-color;
        padding: 0 5px;
        background: none;
      }
      &:hover {
        .caret,
        a {
          color: $lighter-color;
          border-top-color: $lighter-color;
        }
      }
    }
  }
}

.top__slogan,
.top__menu {
  text-align: center;
  color: $lighter-color;
  a{
    color:$lighter-color;
  }
}

// On non mobile screens
@media (min-width: $screen-sm-min) {
  .top__slogan {
    text-align: left;
    padding: 7px 0;
  }

  .top__menu {
    text-align: right;
  }
}